--allman false
--binarygrouping none
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping 3,4
--elseposition same-line
--guardelse auto
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--nospaceoperators
--self init-only
--selfrequired
--semicolons inline
--someAny true
--stripunusedargs closure-only
--trailingclosures
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--wrapparameters preserve
--modifierorder public,override
--xcodeindentation enabled
--disable redundantObjc,wrapMultilineStatementBraces,genericExtensions
